<a href="https://colab.research.google.com/github/yulita231/Bootcamp-Python-Exercises/blob/main/Day_1_Pengenalan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 â€” Pengenalan Python (Hands-on, 60 menit)

**Tujuan:** mengenal variabel & tipe data, operator, kondisi, koleksi, loop, dan fungsi â€” lalu menutup dengan mini-project kecil.

**Agenda (estimasi):**

1.  Setup & Hello Python  
2.  Variabel & Tipe Data  
3.  Operator & String  
4.  Koleksi (List/Tuple/Set/Dict)  
5.  If/Elif/Else & Loop  
6.  Fungsi  
7.  Mini-Project (kasir mini)

> Tips Colab: `Shift+Enter` = jalankan sel, `Ctrl/Cmd+M B` = tambah sel di bawah

In [ ]:
# Cek lingkungan & menyapa
import sys, platform
print("Hello, Python ðŸ‘‹")
print("Python:", sys.version.split()[0], "| Platform:", platform.platform())

Hello, Python ðŸ‘‹
Python: 3.12.11 | Platform: Linux-6.1.123+-x86_64-with-glibc2.35

In [ ]:
print("Python:", sys.version.split()[0], "| Platform:", platform.platform())

Python: 3.12.11 | Platform: Linux-6.1.123+-x86_64-with-glibc2.35

## Variabel & Tipe Data
Variabel adalah â€œwadahâ€ untuk menyimpan nilai. Python memiliki tipe dasar:
- `int` (bilangan bulat), `float` (desimal), `str` (teks), `bool` (True/False), dan `NoneType`.

Kita dapat mengecek tipe dengan `type(x)` dan mengubah tipe (casting) dengan `int()`, `float()`, `str()`, `bool()`.

In [ ]:
# Membuat variabel dan melihat tipenya
usia = 33              # int
tinggi = 1.75          # float (meter)
nama = "Havez"         # str
aktif = True           # bool
kosong = None          # NoneType

In [ ]:
print(usia, "->", type(usia))
print(tinggi, "->", type(tinggi))
print(nama, "->", type(nama))

33 -> <class 'int'>
1.75 -> <class 'float'>
Havez -> <class 'str'>

In [ ]:
# Casting dari string ke integer
nilai_str = "42"
nilai_int = int(nilai_str)
print("Casting:", nilai_str, "->", nilai_int, type(nilai_int))

Casting: 42 -> 42 <class 'int'>

In [ ]:
# TODO: Ubah 'tinggi' (meter) ke centimeter (int), simpan ke 'tinggi_cm' dan cetak tipe datanya.
tinggi_cm = int(tinggi * 100)
print(tinggi_cm)
type(tinggi_cm)

175

int

## Operator Dasar
- **Aritmatika:** `+ - * / // % **` untuk tambah, bagi bulat, sisa, pangkat, dll.
- **Perbandingan:** `== != < <= > >=` menghasilkan nilai boolean.
- **Logika:** `and`, `or`, `not` menggabungkan beberapa kondisi boolean.

In [ ]:
# Aritmatika
a, b = 7, 3
print("Aritmatika:", a+b, a-b, a*b, a/b, a//b, a%b, a**b)

Aritmatika: 10 4 21 2.3333333333333335 2 1 343

In [ ]:
# Perbandingan
x, y = 10, 15
print("Perbandingan:", x == y, x != y, x < y, x >= y)

Perbandingan: False True True False

In [ ]:
# Logika
is_member = True
has_coupon = False
print("Logika:", is_member and has_coupon, is_member or has_coupon, not is_member)

Logika: False True False

In [ ]:
# TODO: Hitung sisa 100 % 9, lalu bandingkan apakah sisa tersebut > 1.
(100%9)>1

False

## String (Teks)
String mewakili teks. Kita bisa:
- Menghitung panjang (`len(s)`), mengambil sebagian (`slicing`), serta mengakses karakter dengan indeks.
- Menggabungkan variabel ke teks memakai f-string: `f"...{var}..."`.

In [ ]:
judul = "belajar"
print("Panjang:", len(judul))
print("Awal (4 huruf pertama):", judul[:4]) # slicing
print("Akhir (2 huruf terakhir):", judul[-2:]) #slicing pakai indeks negatif

Panjang: 7
Awal (4 huruf pertama): bela
Akhir (2 huruf terakhir): ar

In [ ]:
topik = "Python"
pesan = f"Hari ini kita belajar {topik}!"
print(pesan)

Hari ini kita belajar Python!

In [ ]:
# TODO: Ubah 'judul' menjadi huruf besar (uppercase) dan cek apakah mengandung kata 'PYTHON'.

True

## Koleksi Data: List, Tuple, Set, Dict
- **List:** berurut, bisa diubah (mutable).
- **Tuple:** berurut, tidak bisa diubah (immutable).
- **Set:** kumpulan nilai unik, tidak berurut (cocok untuk menghilangkan duplikasi).
- **Dict (dictionary):** pasangan kunciâ€“nilai (keyâ€“value) untuk pencarian cepat.

In [ ]:
# List
angka = [3, 1, 2, 2]
print("List:", angka)
angka.append(5) # panggil fungsi append() untuk menambahkan satu item baru ke list angka
print("List:", angka)

List: [3, 1, 2, 2]
List: [3, 1, 2, 2, 5]

In [ ]:
# list mutable
angka[0] = 4

In [ ]:
angka

[4, 1, 2, 2, 5]

In [ ]:
# Tuple
koordinat = (6.2, 7.1)
print("Tuple:", koordinat, "x:", koordinat[0])

Tuple: (6.2, 7.1) x: 6.2

In [ ]:
# Set (unik)
unik = set(angka)
print("Set:", unik)

In [ ]:
# Dict
produk = {"apple": 12000, "banana": 8000}


produk["orange"] = 10000 # tambahkan satu key-value lagi ke dict produk

print("Dict:", produk, "Harga apple:", produk["apple"])

Dict: {'apple': 12000, 'banana': 8000, 'orange': 10000} Harga apple: 12000

In [ ]:
# TODO: Urutkan list 'angka' (naik). Lalu buat set dari list tsb dan tampilkan jumlah elemennya.

## Percabangan (If / Elif / Else)
Percabangan membantu program mengambil keputusan berdasarkan kondisi tertentu.  
Contoh: memberi grade berdasarkan nilai ujian, atau menentukan genap/ganjil.

In [ ]:
# Contoh genap/ganjil
n = 110
if n % 2 == 0:
    print(n, "adalah GENAP")
else:
    print(n, "adalah GANJIL")

110 adalah GENAP

In [ ]:
# Contoh grading
nilai = 78
if nilai >= 85:
    grade = "A"
elif nilai >= 70:
    grade = "B"
elif nilai >= 55:
    grade = "C"
else:
    grade = "D"
print("Grade:", grade)

Grade: B

In [ ]:
# TODO: Buat logika diskon:
# - total >= 100000  -> diskon 10%
# - total >= 50000   -> diskon 5%
# - selain itu       -> 0%

## Pengulangan For
`for` digunakan untuk mengulang item dalam urutan (list, range, dll).  
`range(n)` menghasilkan 0..n-1; `enumerate(seq)` memberi pasangan (index, nilai).

In [ ]:
buah = ["apel", "pisang", "jeruk"]
for i, b in enumerate(buah, start=1):
    print(f"{i}. {b}")

1. apel
2. pisang
3. jeruk

In [ ]:
total = 0
for i in range(1, 6):  # 1..5
  print(i)
print("Jumlah 1..5 =", total)

1
2
3
4
5
Jumlah 1..5 = 0

In [ ]:
# TODO: Hitung jumlah bilangan genap 1..20 menggunakan for.

## Perulangan While
`while` berjalan selama kondisi bernilai True.  
Pastikan kondisi akan berubah agar tidak terjadi infinite loop.  
Kita juga bisa gunakan `break` (berhenti) dan `continue` (lewati iterasi).

In [ ]:
i = 1
while i <= 5:       # selama i masih <= 5, lakukan isi loop
    print(i)        # tampilkan i
    i += 1          # naikkan i agar suatu saat kondisi jadi False / increment i = i + 1

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 2:
        break      # keluar dari loop sekarang juga
    i += 1

1
2

In [ ]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue   # lompat ke iterasi berikutnya, baris di bawahnya dilewati
    print(i)

1
2
4
5

In [ ]:
# TODO: Buat while yang menghitung mundur dari 5 ke 1, lalu cetak "Go!".
i = 5
while i >= 1:
    print("G")
    if i == 2:
        break      # keluar dari loop sekarang juga
    i = 1

## Fungsi (def, parameter, return, docstring)
Fungsi mengemas logika agar mudah dipakai ulang.  
- Didefinisikan dengan `def`, menerima parameter, dan mengembalikan nilai dengan `return`.  
- Gunakan docstring `"""..."""` untuk menjelaskan fungsi dan parameternya.

In [ ]:
# mendefinisikan fungsi hitung_bmi
def hitung_bmi(berat_kg: float, tinggi_m: float) -> float:
    """Menghitung BMI = berat / (tinggi^2)."""
    bmi = berat_kg / (tinggi_m ** 2)
    return bmi

In [ ]:
hitung_bmi(80, 1.75) # pemanggilan fungsi hitung_bmi

26.122448979591837

In [ ]:
def kategori_bmi(bmi: float) -> str:
    """Mengembalikan kategori BMI berdasarkan nilai BMI."""
    if bmi < 18.5:
        return "Kurus"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Berlebih"
    else:
        return "Obesitas"

In [ ]:
bmi = hitung_bmi(90, 1.75)
print("BMI:", round(bmi, 2), "| Kategori:", kategori_bmi(bmi))

BMI: 29.39 | Kategori: Berlebih

In [ ]:
# TODO: Buat fungsi 'diskon(total)' yang mengembalikan nilai diskon (angka) sesuai aturan pada sel percabangan.

## Mini-Project: Kasir Mini
Kita gabungkan konsep yang sudah dipelajari:
- **Dict** sebagai daftar harga.
- **Loop** untuk memproses pesanan.
- **If/Else** untuk menghitung diskon.
- **Fungsi** agar perhitungan rapi dan dapat dipakai ulang.
Hasil akhirnya adalah struk sederhana di terminal.

In [ ]:
# Daftar harga (IDR)
harga = {
    "apel": 12000,
    "pisang": 8000,
    "jeruk": 10000,
    "mangga": 15000
}

In [ ]:
def hitung_diskon(total):
    if total >= 100_000:
        return 0.10 * total
    elif total >= 50_000:
        return 0.05 * total
    return 0.0

In [ ]:
keranjang = {}  # item -> qty

# Simulasi input (biar langsung jalan untuk pemula)
pesanan = [("apel", 2), ("mangga", 3), ("pisang", 1), ("apel", 2)]

for item, qty in pesanan:
    if item in harga and qty > 0:
        keranjang[item] = keranjang.get(item, 0) + qty

    print("pesanan", item,"jumlahnya", qty, "buah")

In [ ]:
keranjang.items()

In [ ]:
# Hitung total
subtotal = sum(harga[i] * q for i, q in keranjang.items())
diskon = hitung_diskon(subtotal)
total = subtotal - diskon

In [ ]:
# Cetak struk
print("=== STRUK MINI ===")
for i, q in keranjang.items():
    print(f"{i:<7} x{q} @ {harga[i]:>6,} = {harga[i]*q:>8,}")
print("-" * 26)
print(f"Subtotal: {subtotal:>12,}")
print(f"Diskon  : {diskon:>12,}")
print(f"TOTAL   : {total:>12,}")

In [ ]:
# TODO:
# 1) Ubah 'pesanan' (list of tuple) dan jalankan ulang.
# 2) Tambahkan item baru pada dict 'harga', lalu beli item tersebut.
# 3) (Opsional) Minta input dari pengguna memakai input(), dan tambahkan validasi sederhana.

## Bonus (Opsional): Error Handling & Comprehension
- **Error handling** (`try/except`) membuat program tetap berjalan meski ada input tidak valid.
- **List/Dict Comprehension** adalah cara singkat membangun koleksi dari iterasi.

In [ ]:
# try/except untuk input campuran
texts = ["10", "lima", "7.5"]
angka = []
for t in texts:
    try:
        angka.append(float(t))
    except ValueError:
        print("Lewati input tidak valid:", t)
print("Angka valid:", angka)

In [ ]:
# Comprehension: kuadrat 1..5, lalu dict item->total_harga
kuadrat = [i*i for i in range(1, 6)]
print("Kuadrat:", kuadrat)

keranjang = {"apel": 2, "jeruk": 1}
harga = {"apel": 12000, "jeruk": 10000}
total_per_item = {item: qty * harga[item] for item, qty in keranjang.items()}
print("Total per item:", total_per_item)